<template>
  <div class="q-pa-md">
    <div class="row justify-center text-center">
      <div class="col">
        <q-btn color="white" text-color="black" label="Standard" />
      </div>
      <div class="col">
        <q-btn color="primary" label="Primary" />
      </div>
      <div class="col">
        <q-btn color="secondary" label="Secondary" />
      </div>
      <div class="col">
        <q-btn color="deep-orange" glossy label="Deep Orange" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UserShow'
}
</script>
